# Frontend Variables
VITE_REOWN_PROJECT_ID=your_reown_project_id_here
VITE_BOT_RPC_URL=https://rpc.bohr.life
VITE_BOT_CHAIN_ID=968
VITE_BOT_EXPLORER_URL=https://scan.bohr.life/
VITE_AIRDROP_VAULT_CONTRACT_ADDRESS=
VITE_APP_URL=https://airdrop-vault-kohl.vercel.app/

# Contract Variables
PRIVATE_KEY=your_private_key_here
BOHR_RPC_URL=https://rpc.bohr.life
